---
layout: default
---

<div class="home">
  {% for col in site.collections %}
    {% if col.skip != true %}
    <h2 style="text-transform: capitalize;">{{ col.label | replace: "_", " " | capitalize }}</h2>
    <ul class="post-list">
      {% assign sortedPosts = col.docs | sort: 'title' %}
      {% for post in sortedPosts %}
      <li>
        <h3>
          <a  class="post-link"
              href="{{ post.url | prepend: post.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}

  <p>Opinions are my own and not the views of my employer.</p>
</div>