---
layout: default
---

<div class="home">
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  <p class="rss-subscribe">subscribe <a href="{{ "/podcast.rss" | prepend: site.baseurl }}">via Podcast</a></p>

  <h2>Style Guides</h2>
  <ul class="post-list">
    {% for style_guide in site.style_guides %}
      <li>
        <h3>
          <a  class="post-link" 
              href="{{ style_guide.url | prepend: style_guide.baseurl }}">{{ style_guide.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <h2>General Advice</h2>
  <ul class="post-list">
    {% for ga in site.generaladvice %}
      <li>
        <h3>
          <a  class="post-link" 
              href="{{ ga.url | prepend: ga.baseurl }}">{{ ga.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
   
  <h2>Patterns</h2>
  <ul class="post-list">
    {% for pattern in site.patterns %}
      <li>
        <h3>
          <a  class="post-link" 
              href="{{ pattern.url | prepend: pattern.baseurl }}">{{ pattern.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <h2>Technology Specific</h2>
  <ul class="post-list">
    {% for tutorial in site.tutorials %}
      <li>
        <h3>
          <a  class="post-link" 
              href="{{ tutorial.url | prepend: tutorial.baseurl }}">{{ tutorial.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
  
  <p>Opinions are my own and not the views of my employer.</p>
</div>

